# code editor configs
.vscode

# nix specific
nixos-switch.log
result

# AI agents context and configs
.claude
.opencode

# direnv
.direnv

# resulting vm images
*.qcow2

old/

modules/dotfiles/pi/agent/auth.json
modules/dotfiles/pi/agent/sessions
modules/dotfiles/pi/agent/models-store.json

modules/dotfiles/kot225-dms/plugins/
